@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$primary-color: #3498db;
// $secondary-color: #2ecc71;
$font-stack: 'Roboto', sans-serif;

    @mixin sideBar-styles()
{
        background-color: $primary-color;
        color: white;
        font-family: $font-stack;
        padding: 1rem;
        border-radius: 5px;
        width: 250px;
        height: 100vh;


        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin: 0.5rem 0;

                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    
}

body {
    font-family: $font-stack;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100vh;
    height: 100vh;
    width: 100vw;
    grid-template-areas: "sidebar main";
    
    main {
        grid-area: main;
        padding: 1rem;

    }

}

    aside{
      @include sideBar-styles()
    
        
    }



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: white;
    padding: 0.5rem 1rem;

    &h3{
        
        color: black;
        }
    
    }